@*@model IEnumerable<Labo2ASPdotNet.Models.Entities.User>*@

@{
    ViewBag.Title = "AccountList";
    Layout = "~/Areas/Main/Views/Shared/_Layout.csshtml";
}
<partial name="~/Areas/Main/Views/Shared/AdminNavigationBar.cshtml" />

<h2>ListAccout</h2>


<script type="text/javascript">
    $(document).ready(() => showListAccount());
    const showListAccount = () => {
        $.ajax({
            url: '/Admin/AccountList',
            type: 'GET',
            dataType: 'json',
            success: (data) => {
                $.each(data, (i, item) => {
                    console.log(i);
                    console.log('item');
                })
            }
        });
    }
</script>
