@{
    ViewBag.Title = "Welcome Admin Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flat HTML5/CSS3 Login Form</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/css/style.css">

</head>

<body>
    <h2 style="text-align: center">Hello Admin User, You have registered successful!</h2>
    <div style="text-align: center" ><a href="/Admin">Click here to login</a></div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Assets/Admin/js/index.js"></script>
</body>

</html>